.BackGroundEntrar {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-image: url('/src/imagens/bkEntrar.jpg');
    background-size: cover;
    background-position: center;
    max-height: 100vh;
    z-index: 1;
}
.BackGroundEntrar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.658); 
    z-index: -1; /*garante que o filtro fica abaixo do conteúdo escrito e o form*/
}

.textoEntrar, p,h2{
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Inter", sans-serif;
    color: rgb(228, 227, 227);
    font-weight: 200;
 

}


.formEntrar {
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen and (max-width: 768px) {
    #sectionOne {
        max-width: 80%; 
        margin-left: auto; 
        margin-right: auto; 
        margin-top: 100%; 
    }

    .SubTitulo {
        font-size: 1.5rem; 
        margin-bottom: 100%;
    }
}