.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue-1);
    color: var(--white);
    padding: 50px 0;
}
.footer-logo{
    font-size: 2rem;
    font-weight: 800;
}
.upFooter{
    font-size: 2.3rem;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.footer-menu,
.social-icons {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-menu li,
.social-icons li {
    display: inline-block;
    margin-right: 10px;
}
.social-icons a{
    font-size:1.4rem;
    color: var(--white);
    text-decoration: none;
    font-family: monospace;
    cursor: pointer;
    padding: 10px;
}
.footer-menu a {
    color: var(--white);
    margin-bottom: 30px;
    text-decoration: none;
    font-family: monospace;
    cursor: pointer;
    padding: 10px;
}
.footer-bottom{
    margin-top: 50px;
}

.footer-menu a::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    background: var(--blue-3);
    transition: all ease 0.4s;
}

.footer-menu a:hover::before {
    width: 100%;
    
}



@media only screen and (max-width: 768px) {
    .footer-menu li,
    .social-icons li {
        display: block;
        margin: 10px 0;
    }

    .footer-menu a,
    .social-icons a {
        padding: 15px;
    }
}
