.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.post {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 10px;
    color: #333;
}

.textoParagrafo {
    margin-bottom: 20px;
}

.full-content {
    display: none;
}

button {
    background-color: var( --blue-2);
    color: var(--white);
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.container-fluid {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    display: block;
    width: 100%;

    padding: 10px;
    background-color: var( --blue-2);
    color: var(--white);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.btn:hover {
    background-color: #0056b3;
    color: var(--white);
}