@import url('./navbar.css');
@import url('./containerTitulo.css');
@import url('./sectionOne.css');
@import url('./gallery.css');
@import url('./facaParte.css');
@import url('./footer.css');
@import url('./homeText.css');


body{
    margin: 0px;
    background-color: var(--background-white);
}

ul, li, a{
    list-style: none;
    text-decoration: none;
}

:root {
    --white: #f1f1f1;
    --blue-1: #333A73;
    --blue-2: #387ADF;
    --blue-3: #50C4ED;
    --blue-4: #3171d1;
    --orange-1: #FBA834;
    --botao-bg-color: #387ADF;
    --botao-text-color: #f1f1f1;
    --botao-hover-bg-color: #3171d1;

  }

  @media only screen and (max-width: 500px) {
    .grid, .card{
        display: grid;
        grid-template-columns: 1fr;
    }
    
  }

 